.question-box{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%
}

.quiz-image-wrapper{
    width: 300px;
    margin-right: 50px;
}

.quiz-image{
    width: 100%;
    border-radius: 50%;
    border: solid black;
}

.question-and-answers-wrapper {
    width: 50%;
}

.question-wrapper{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-direction: column;
}

.answers-wrapper {
    margin-top: 50px;
    display: flex;
    justify-content: center;
    width: 100%;
}

