.pagination-wrapper{
    display: flex;
    justify-content: center;

}

.pagination{
    display: block;
    display: flex;
    flex-direction: row;
}

.pagination li{
    display: block;
}

.pagination-buttons{
    min-width: 50px;
}

.missing-values{
    font-weight: 900;
    font-size: 20px;
}
