.main-layout{
    height: 100%;
}

.content{
    height: 90%;
    overflow: auto;
    overflow-x: hidden;
   
    background-color: #360033;

    background: linear-gradient(to right, #0b8793, #360033); 
    
    animation: gradient 10s infinite linear; 
    background-size: 400%; 
}


@keyframes gradient {
    0% {
        background-position: 80% 0%;
    }
    50% {
        background-position: 20% 100%;
    }
    100% {
        background-position: 80% 0%;
    }
}