.main-page {
    display: flex;
    align-items: space-between;
    justify-content: space-between;
    padding: 50px 200px 50px 200px;
    height: 100%;
}

.info-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: 30vw; 
}

h1 {
    font-size: 50px;
    margin: 0 0 20px 0;
}

div{
    font-family: 'Sono', sans-serif;
    font-size: large;
    color:aliceblue;
}

.text-box{
    margin: 0 0 50px 0;
}

.button-wrapper{
    display: flex;
    justify-content: space-around;
    margin: 0 70px 0 0;
}

.main-image-container{
    max-width: 35vw;
}
