.quiz{
    height: 100%;
    display: flex;
    justify-content:space-around;
    padding: 0 50px 0 50px;
    
}

.playing-field{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}


