.quiz{
    height: 100%;
    display: flex;
    justify-content:space-around;
    
}

.playing-field{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.check-box-wrapper{
    display: flex;
    justify-content: flex-end;
    width: 100%;
}