#containerElement{
  position: relative;
  height: 100%;
  overflow-y: scroll;
  overflow-x: hidden;
}

#containerElement::-webkit-scrollbar{
  background-color: #04383d70;
  width: 5px;
}

#containerElement::-webkit-scrollbar-thumb {
  background-color: rgba(206, 202, 202, 0.47);
}

.about {
  font-family: sans-serif;
  text-align: center;
  background-color: black;
  height: 100%;

  background: linear-gradient(to right, #0b8793, #360033);
  animation: gradient 10s infinite linear; 
  background-size: 400%;

  overflow: hidden;
}

